{% extends "bootstrapframe.html" %}

{% block title %}
Register
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <h1>Register here for the greatest website!</h1>

    <form method="post">
        <div class="form-group">
            <label for="NameInput">Name</label>
            <input type="text" class="form-control" id="NameInput" name="username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Users</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Secret Number</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th>{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.secret_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}